<h1>Lists</h1>

<%= link_to 'New List', new_list_path %>
<br/>
<% if @lists.length == 0 %>
	No lists found.
<% else %>
		<table>
			<tr>
				<th>Title</th>
				<th>Date Created</th>
			</tr>

			<% @lists.each do |list| %>
			<tr>
				<td><%= list.title %></td>
				<td><%= list.created_at %></td>
			</tr>
			<% end %>
		</table>
<% end %>
